.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.2s;
}

.card:hover .image {
    transform: scale(1.05);
}

.imageWrapper {
    aspect-ratio: 1;
    background-color: var(--bg-secondary);
    border-radius: var(--radius-m);
    overflow: hidden;
    position: relative;
    margin-bottom: var(--spacing-m);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: var(--spacing-xs);
}

.category {
    color: var(--text-secondary);
    font-size: 0.875rem;
    text-transform: capitalize;
}

.price {
    font-weight: 600;
}